<h2>Shopping Cart</h2>
<nz-table #basicTable [nzData]="products">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.product.name }}</td>
            <td>
                <img style="width: 50px; height: 50px" [src]="data.product.image" alt="ảnh sản phẩm" />
            </td>
            <td>{{ data.product.price | currency: "VND":"symbol" }}</td>
            <td>
                <nz-input-number (ngModelChange)="changeQuantity(data.product, $event)" [(ngModel)]="data.amount" [nzSize]="'large'" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
            </td>
            <td>{{ data.product.discount }}%</td>
            <td>
                {{ (100 * data.amount * data.product.price * (1 - 0.01 * data.product.discount)) / 100 | currency: "VND":"symbol" }}
            </td>
            <td>
                <button (click)="deleteProduct(data._id)" nz-button nzDanger nzType="primary">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
            </td>
        </tr>
    </tbody>
</nz-table>

<p>Tổng số tiền: {{ total | currency: "VND":"symbol" }}</p>
<button (click)="clearCart()" nz-button nzDanger nzType="primary">
  Xóa hết
  <i nz-icon nzType="clear" nzTheme="outline"></i>
</button>