<h2>Shopping Cart</h2>
<nz-table #basicTable [nzData]="products">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.product.name }}</td>
            <td>
                <img style="width: 50px; height: 50px" [src]="data.product.image" alt="ảnh sản phẩm" />
            </td>
            <td>{{ data.product.price | currency: "VND":"symbol" }}</td>
            <td>
                <nz-input-number (ngModelChange)="changeQuantity(data.product, $event)" [(ngModel)]="data.amount" [nzSize]="'large'" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
            </td>
            <td>{{ data.product.discount }}%</td>
            <td>
                {{ (100 * data.amount * data.product.price * (1 - 0.01 * data.product.discount)) / 100 | currency: "VND":"symbol" }}
            </td>
            <td>
                <button (click)="deleteProduct(data._id)" nz-button nzDanger nzType="primary">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tổng số tiền: {{ total | currency: "VND":"symbol" }}</p>
                <button (click)="clearCart()" nz-button nzDanger nzType="primary">
          Xóa hết
          <i nz-icon nzType="clear" nzTheme="outline"></i>
        </button>
            </td>
        </tr>
    </tbody>
</nz-table>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="payment_method " nzRequired>Payment Method</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input type="text" id="payment_method" formControlName="payment_method" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="payment_account" nzRequired nzTooltipTitle="What do you want other to call you ">
            <span>Payment Account: </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your nickname! ">
            <input nz-input id="payment_account" formControlName="payment_account" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="receive_method" nzRequired>Receive Method</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-group>
                <input formControlName="receive_method" id="'receive_method'" nz-input />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <button [disabled]="!validateForm.valid" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
    Purchase
  </button>
</form>