<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
                <h1>Ant Design Of Angular</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Home" nzIcon="home">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/home">Trang chủ</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/shoppingcart">Giỏ hàng</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/favorite">Sản phẩm yêu thích</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/history">Sản phẩm đã xem</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Tài khoản" nzIcon="user">
                <ul>
                    <li *ngIf="isLogin" nz-menu-item nzMatchRouter>
                        <a routerLink="/login">Đăng nhập</a>
                    </li>
                    <li *ngIf="!isLogin" nz-menu-item nzMatchRouter>
                        <a (click)="logout()">Đăng xuất</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/register">Đăng ký</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/change-password">Thay đổi mật khẩu</a>
                    </li>
                </ul>
            </li>

            <li nz-submenu nzOpen nzTitle="Dịch vụ" nzIcon="customer-service">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/service">Dịch vụ</a>
                    </li>
                </ul>
            </li>

            <li *ngIf="role" nz-submenu nzOpen nzTitle="Trang quản trị" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/home">Trang chủ</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/user">Quản lý user</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/product">Quản lý sản phẩm</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/order">Quản lý đơn hàng</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="/admin/service">Quản lý dịch vụ</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
                <nz-badge [nzCount]="quantityCart">
                    <button (click)="cartPage()" nz-button nzType="primary">
            <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
          </button>
                </nz-badge>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>